* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

strong {
  color: blue;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-repeat: no-repeat;
  height: 120px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}

h3,
p {
  margin-top: 15px;
}

img {
  margin-top: 30px;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
